<%- include ("../../partials/header") %>
<%- include ("../../partials/navbar") %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2> Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="get" action="/admin/articles/new">
                <input  class="form-control" type="text" name="title" placeholder="defina o titulo do Artigo">
                <br>
                <textarea class="form-control" placeholder="Escreva seu Artigo aqui" name="body" id="article"></textarea>
                <br>
                <button class="btn btn-success">Enviar</button>
            </form>
        </div>

    </div>
</div>
<%- include ("../../partials/footer.ejs") %>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist', 
            'autolink', 
            'link', 
            'image', 
            'lists', 
            'print', 
            'preview', 
            'hr', 
            'searchreplace', 
            'wordcount', 
            'fullscreen', 
            'insertdatetime', 
            'media', 
            'save', 
            'table', 
            'paste', 
            'emoticons'
        ],
        language: 'pt_BR'
    })
</script>