<div class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand logo" href="/">NOTEMON </a>
    <ul class="navbar-nav mr-auto">
    <% categories.forEach(categories=>{ %>
        <li class="nav-item">
            <a class="nav-link" href="/categories/<%= categories.slug %>"><%= categories.title %></a>
        </li>
    <% }) %>
    
    </ul>
    <a class="btn btn-success" style="float: right;" href="/login">Login</a>
</div>